VITE_FIREBASE_API_KEY=AIzaSyANavPGIu4qTFKOthUkv44YRRh8cySF3HA
VITE_FIREBASE_AUTH_DOMAIN=monkeytalk-f6e2c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=monkeytalk-f6e2c
VITE_FIREBASE_STORAGE_BUCKET=monkeytalk-f6e2c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=497392930508
VITE_FIREBASE_APP_ID=1:497392930508:web:7d942a84db7743cf6f3c69
VITE_FIREBASE_MEASUREMENT_ID=G-RQC95YL0XH